.nav{
    list-style-type: none;
   /* background-color: darkblue;*/
    color: white;
    margin:0;
    padding: 0;
}
.nav li{
    display: inline;
    color: white;
    border-right: 2px solid white;
}
a{
    display: inline;
    padding: 10px;
    text-align: center;
    
    text-decoration: none;
    
}